<form id="morning-report-form" method="POST" action="/behaviour/reporting/morning">

    <h3>Morning report</h3>

    <%- include('../messages.ejs', { message: success, attribute: 'morning_report'}) %>

    <div class="alert alert-warning">All fields required</div>

    <div class="form-group">
        <%- include('../messages.ejs', { errors: errors, attribute: 'date'}) %>
        <label for="dateField">Date in format (DD/MM/YYYY)</label>
        <input class="form-control" type="date" name="date" class="datePicker" value="<%= date %>" />
    </div>
    <div class="form-group">
        <%- include('../messages.ejs', { errors: errors, attribute: 'sleepDuration'}) %>
        <label for="sleepDurationField">Sleep Duration in hours e.g. (2.5)</label>
        <input class="form-control" type="number" step="0.01" name="sleepDuration" value="<%= sleepDuration %>" />
    </div>

    <div class="form-group">
        <%- include('../messages.ejs', { errors: errors, attribute: 'sleepQuality'}) %>
        <label for="sleepQualityField">Sleep Quality (value from 1 to 5)</label>
        <input class="form-control" type="range" name="sleepQuality" min="1" max="5" value="<%= sleepQuality %>"
            class="slider" id="sleepQualitySlider" oninput="sliderValueSleepQuality.value=value">
        <output id="sliderValueSleepQuality"><%= sleepQuality %></output>
        </input>
    </div>

    <div class="form-group">
        <%- include('../messages.ejs', { errors: errors, attribute: 'mood'}) %>
        <label for="moodField">Generic mood (value from 1 to 5)</label>
            <input class="form-control" type="range" name="mood" min="1" max="5" value="<%= mood %>" class="slider"
                oninput="sliderValueMood.value=value">
            <output id="sliderValueMood"><%= mood %></output>
    </div>
    <input type="submit" class="btn btn-primary" value="Report" />
</form>